# Ignore the build directory at the root of the project
/build/

# Ignore all folders starting with a dot (.) anywhere in the project
.*/

# Ignore the distribution directory (packaged deb files)
/dist/

# Ignore the release automation script
/release.sh
